#cropi_container {
    padding: 20px;
    //max-width: 50%;
    height: 400px;
    margin-left: 25%;
    opacity: 1;
    //z-index: 210;
    border: 2px solid #999;
    background-color: #101622;
    border-radius: 10px;
    width: 50%;
}

.croppie-tools{
    text-align: center;
}

#popup-trigger{
    display: none;
}

#cropi_image{
    height: auto;
}

.cr-slider::-webkit-slider-runnable-track{
    background: rgba(#ccc, .5);
}

.croppie-container .cr-viewport{
    border:0;
}

.cr-boundary{
    border: 1px solid #ccc;
}

.croppie-tools{
    .btn{
        margin-top: 0px;
        height: 50px;
        width: 50px;
        line-height: 15px;
    }
}


#upload_result:hover{
    background-color: #090;
}

#upload_cancel:hover{
    background-color: #222;
}

.cropi_actions{
    float: right;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

#upload_result{
    background-color: #042;
}

.cr-boundary{
    transform: scale(0.5, 0.5)
}
