#heading-action-buttons{
    position: relative;
    margin-right: 25px;
    margin-top: 25px;
    float:right;
    padding: 2px 10px;

    min-width: 45px;
    vertical-align: middle;
    background-color: rgba(#143771, 0.7);
    text-align: center;
    border-radius: 5px;
    z-index: 999;

    .btn{
        cursor: pointer;
        color:#bbb;
        padding: 6px;
        margin: 5px;
        border:1px solid transparent;
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }
    }
}
