.page-element{
    border:2px dashed rgba(#bbb, 0);
    border-radius: 9px;
    transition: opacity 0.6s 0s ease-in;

    &:before{
        padding: 5px;
    }

    &.hovered{
        border-color:rgba(#bbb, 0.4);
    }
}
