.admin-buttons {

    .event-preview &{
        position: absolute;
        top: 80px;
        left: 15px;
    }

    .post-preview &{
        position: absolute;
        top: 160px;
        left: 30px;
    }
}
