//credits: https://codepen.io/team/css-tricks/pen/xRmmdr

$colorH: 203;

.breadcrumb{
    list-style: none;
    overflow: hidden;
    font: $font-primary;
    padding-right: 0!important;

    a {
        font-size: 0.7rem;
    }

    li {
        float: right;

        &:first-child a {
            padding-right: 20px;
        }
        &:nth-child(2) a       {
            background:        hsla($colorH,88%,45%,1);
            &:after { border-right-color: hsla($colorH,88%,45%,1); }
        }
        &:nth-child(3) a       { background:        hsla($colorH,88%,55%,1);
            &:after { border-right-color: hsla($colorH,88%,55%,1); }
        }
        &:nth-child(4) a       { background:        hsla($colorH,88%,65%,1);
            &:after { border-right-color: hsla($colorH,88%,65%,1); }
        }
        &:nth-child(5) a       { background:        hsla($colorH,88%,75%,1);
            &:after { border-right-color: hsla($colorH,88%,75%,1); }
        }

        &:last-child a {
            background: transparent !important;
            color: white;
            pointer-events: none;
            cursor: default;
            &:after { border: 0; }
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px 55px 10px 0;
            background: brown; /* fallback color */
            background: hsla($colorH, 85%, 35%, 1);
            position: relative;
            display: block;
            float: right;

            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-right: 30px solid hsla($colorH,85%,35%,1);
                position: absolute;
                top: 50%;
                margin-top: -50px;
                right: 100%;
                z-index: 2;
            }
            &:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-right: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-right: 1px;
                right: 100%;
                z-index: 1;
            }

            &:hover { background: hsla($colorH,85%,25%,1);
                &:after { border-right-color: hsla($colorH,85%,25%,1) !important; }
            }
        }

    }

}

.breadcrumb-little{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
}

.hide-bread{
    visibility: hidden;
}

