//credits: https://codepen.io/team/css-tricks/pen/xRmmdr

.steps {
    margin: 40px;
    padding: 0;
    overflow: hidden;

    a {
        color: white;
        text-decoration: none;
    }

    em {
        display: block;
        font-size: 1.1em;
        font-weight: bold;
    }

    li {
        float: right;
        margin-right: 0;
        width: 150px;

        /* 100 / number of steps */
        height: 70px;

        /* total height */
        list-style-type: none;
        padding: 5px 30px 5px 5px;

        /* padding around text, last should include arrow width */
        border-left: 3px solid white;

        /* width: gap between arrows, color: background of document */
        position: relative;

        &:first-child {
            padding-right: 5px;
        }

        &:nth-child(n+2)::before {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            border-right: 25px solid white;

            /* width: arrow width, color: background of document */
            border-top: 40px solid transparent;

            /* width: half height */
            border-bottom: 40px solid transparent;

            /* width: half height */
            width: 0;
            height: 0;
            content: " ";
        }

        &::after {
            z-index: 1;

            /* need to bring this above the next item */
            position: absolute;
            top: 0;
            left: -25px;

            /* arrow width (negated) */
            display: block;
            border-right: 25px solid #7c8437;

            /* width: arrow width */
            border-top: 40px solid transparent;

            /* width: half height */
            border-bottom: 40px solid transparent;

            /* width: half height */
            width: 0;
            height: 0;
            content: " ";
        }

        background-color: #7C8437;

        &.current {
            background-color: #C36615;

            &::after {
                border-right-color: #C36615;
            }

            ~ li {
                background-color: #EBEBEB;

                &::after {
                    border-right-color: #EBEBEB;
                }
            }
        }

        &:hover {
            background-color: #696;

            &::after {
                border-right-color: #696;
            }
        }
    }
}
