//credits: https://codepen.io/team/css-tricks/pen/xRmmdr

.arrows {
    white-space: nowrap;

    li {
        display: inline-block;
        line-height: 26px;
        margin: 0 -10px 0 9px;
        padding: 0 20px;
        position: relative;

        &::before {
            border-left: 1px solid #666666;
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            z-index: -1;
            transform: skewX(-45deg);
        }

        &::after {
            border-left: 1px solid #666666;
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            right: 0;
            left: 0;
            z-index: -1;
            bottom: 0;
            top: auto;
            transform: skewX(45deg);
        }

        &:last-of-type {
            &::before, &::after {
                display: none;
            }
        }

        a {
            font: bold 24px Sans-Serif;
            letter-spacing: -1px;
            text-decoration: none;
        }

        &:nth-of-type(1) a {
            color: hsl(0, 0%, 70%);
        }

        &:nth-of-type(2) a {
            color: hsl(0, 0%, 65%);
        }

        &:nth-of-type(3) a {
            color: hsl(0, 0%, 50%);
        }

        &:nth-of-type(4) a {
            color: hsl(0, 0%, 45%);
        }
    }
}
