@import "admin_control";

.popup-reglog {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;

    .form{
        margin-top: 40px
    }
}

.fill-primary-color {
    fill: $color-primary-background;
}

.flip-horizontally{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.flip-vertically{
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

.strike{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(#f30, 0.8);
    &:before,
    &:after {
        display: inline;
        content: "\00a0\00a0";
    }
}

.skew-strike {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: -15px;
        top: 15%;
        right: -15px;
        border-top: 2px solid rgba(yellow, 0.65);
        transform:rotate(-15deg);
    }
}

.line-height-big{
    line-height: 1.7em;
    *{
        line-height: 1.7em;
    }
}
.line-height-medium{
    line-height: 1.3em;
    *{
        line-height: 1.3em;
    }
}

.valign-sub{
    vertical-align: sub;
}

.text-warning {
    color: #fde300 !important;
}

.text-danger {
    color: #e3342f !important;
}

.text-center,.text-center *{
    width: 100%;
    text-align: center !important;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.float-left{
    float: left;
}

.not-visible{
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
    width: 0;
    height: 0;
    opacity: 0;
}

.ltr{
    direction: ltr;
}

.form-input {
    img,.loader-bars{
        position: absolute;
        left: 0;
        top: 0;
    }

    .loader-bars{
        height: 34px;
        margin: 10px !important;
    }

    img{
        border: 1px solid #3f485f;
        border-radius: 10px 0 0 10px;
        cursor:pointer;
        height: 44px;
        margin: 5px;
    }
}

.editable,.template{
    &:empty:before {
        display: inline-block;
        content: attr(data-placeholder);
    }
}
