ul.sidebar{
    list-style-type: none;
}

.warning{
    border:1px solid red;
}

span.avatar{
    padding: 10px 15px;
    border-radius: 50%;
    font-weight: bold;
}

[type=search]{
    -webkit-appearance: auto;
}
.dataTables_filter{
    display:inline-block;
    float: right;
}

.dataTables_length{
    display:inline-block;
}
