.banner-wrap {
    background: url(../../../img/homepage/banner-bg.webp) no-repeat 50%;
    background-size: cover;

    @media screen and (min-width: $large) {
        background:
            url(../../../img/homepage/banner-nft.webp) no-repeat left 300px top 100px,
            url(../../../img/homepage/banner-vr1.webp) no-repeat 0 100%,
            //url(../../../img/homepage/banner-vr2.webp) no-repeat right 25px bottom 20px,
            //url(../../../img/homepage/banner-rocket.png) no-repeat left 635px top 260px,
            //url(../../../img/homepage/banner-screens.png) no-repeat left -25px bottom,
            //url(../../../img/homepage/vr.png) no-repeat left -300px bottom 0px,
            url(../../../img/homepage/banner-bg.webp) no-repeat 50%;
        background-size: auto, auto, auto, cover
    }
}


.banner {
    min-height: 960px;

    .banner-info {
        padding: 216px 100px 0 0;
        position: relative;

        .banner-image {
            position: absolute;
            top: 110px;
            right: -150px;
        }

        .button {
            position: relative;
            width: auto;
            margin-top: 50px;
            padding-right: 90px;
            padding-left: 30px;

            img {
                position: absolute;
                height: 90px;
                bottom: 5px;
                right: 10px;
            }
        }
    }

    .banner-text {
        color: #fff
    }

    .banner-pretitle {
        font-family: $font-normal;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500
    }

    .banner-title {
        margin-top: 10px;
        color: #fff;
        font-family: $font-bold;
        letter-spacing: -1px;
        font-size: 6.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .banner-text {
        font-family: $font-light;
        width: 384px;
        margin-top: 36px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.3333333333em
    }

    .button {
        width: 196px;
        margin-top: 50px;

        @media screen and (min-width:$large) {
            margin-right: 90px;
        }
    }
}


@media screen and (min-width:$large_u) {
    .banner {
        .banner-info {
            .button {
                margin-top: 50px;
                padding-right: 90px;
                padding-left: 30px;

                &.btn-right {
                    float: right;
                    margin-right: 5px;
                }

                //img {
                //    position: absolute;
                //    height: 90px;
                //    bottom: 5px;
                //    right: 10px;
                //}
            }
        }
    }
}


@media screen and (max-width: $large) {
    .banner-wrap {
        background: url(../../../img/homepage/banner-bg.webp) no-repeat 50%;
        background-size: cover
    }

    .banner {
        min-height: auto;

        .banner-info {
            width: 480px;
            margin: 0 auto;
            padding: 180px 0 120px;
            text-align: center;

            .banner-image {
                top: 70px;
                left: 34px;
            }
        }

        .banner-text {
            margin: 36px auto 0
        }
    }
}

@media screen and (max-width: $small) {
    .banner {
        .banner-info {
            width: 100%;
            padding-top: 220px;

            .banner-image {
                left: 50%;
                margin-left: -78px
            }
        }

        .banner-title {
            font-size: 3.75rem
        }

        .banner-text {
            width: 100%
        }
    }
}
