.demo-box .demo-box-cover {
    height: 180px;
    border-radius: 12px;
    box-shadow: 5px 9px 40px 0 rgba(216, 218, 254, .8);
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.demo-box .demo-box-cover:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
}

.demo-box .demo-box-title {
    margin-top: 24px;
    color: #3e3f5e;
    font-size: 1rem;
    font-weight: 700;
    text-align: center
}

.demo-box .demo-box-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 26px
}

.demo-box .demo-box-actions .button {
    width: 80px;
    margin-right: 12px
}

.demo-box .demo-box-actions .button:last-child {
    margin-right: 0
}
