a, h1, h2, h3, h4, h5, h6, p {
    line-height: 1em
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700
}

ol, ul {
    list-style: none;
    padding: 0!important;
}

a {
    text-decoration: none
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.vrbg-container{
    position: relative;
    overflow: hidden;
}
.vrbg{
    position: absolute;
    //z-index: 100;
    z-index: -1;
    opacity: .4;
    width: 120px;
}

//satellite
.vr1 {
    top: 5%;
    left: 0%;
    @include ScreenMediaMax($small){
        top: -5%;
    }

    opacity: .4;
    animation: animationFramesOne 15s infinite linear;
}

//microphones
.vr2 {
    top: 690px;
    left: 115px;
    opacity: .1;
    animation: movebounce 5s linear infinite;
}

//joy-stick
.vr3{
    top: 12%;
    right: 31%;
    @include ScreenMediaMax($small){
        right: -5%;
    }
    animation: rotate3d 6s linear infinite;
    opacity: .2;
}

//saturn
.vr4 {
    top: 52%;
    right: 6%;
    opacity: .2;
    animation: sk-rotateplane 15s infinite linear;
}

//vr-man-left
.vr5 {
    top: 42%;
    left: 35%;

    @include ScreenMediaMax($small){
        top: 59%;
        left: -5%;
    }

    animation: animationFramesOne 15s infinite linear;
    opacity: .15;
}

.vr6 {
    top: 84%;
    right: 48%;
}
