.architecture-item-list {
    display: -ms-flexbox;
    display: flex;
    background-color: $black-dark;
    overflow-x: hidden
}

.architecture-item-list .architecture-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    position: relative
}

.architecture-item-list .architecture-item .architecture-image,
.architecture-item-list .architecture-item .architecture-image-hover {
    position: absolute;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out
}

.architecture-item-list .architecture-item .architecture-image-hover,
.architecture-item-list .architecture-item:hover .architecture-image {
    opacity: 0;
    visibility: hidden
}

.architecture-item-list .architecture-item:hover .architecture-image-hover {
    opacity: 1;
    visibility: visible
}


.feature-item {
    padding: 0 24px 0 70px;
    position: relative
}

.feature-item .feature-item-image {
    position: absolute;
    top: 4px;
    left: 0
}

.feature-item .feature-item-title {
    font-size: 1.5rem
}

.feature-item .feature-item-text {
    margin-top: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5555555556em
}

@media screen and (max-width:$large) {
    .architecture-item-list {
        display: none
    }
}

@media screen and (max-width:$xsmall_d) {
    .feature-item {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center
    }
    .feature-item .feature-item-image {
        position: static
    }
    .feature-item .feature-item-title {
        margin-top: 26px
    }
}
