.logo {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #615dfa;

    .logo-icon {
        width: 18px;
        height: 27px;
    }

    &.void {
        width: auto;
        height: auto;
        background-color: rgba(#fff, 0.05);
        padding: 10px;


        .logo-icon {
            width: 28px;
            height: 40px
        }
    }

}


