.section {
    padding: 136px 0 74px;

    .section-info {
        width: 584px;
        margin: 0 auto 136px;
        text-align: center;
    }

    .section-pretitle {
        color: #adafca;
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .section-title {
        margin-top: 16px;
        font-size: 2.875rem;
        font-weight: 700;
        line-height: .9565217391em;
    }

    .section-text {
        margin-top: 40px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5555555556em;
    }

    .section-image {
        width: 100%;
        height: auto
    }

    .section-button {
        display: block;
        width: 276px;
        margin: 60px auto 0
    }
}






.promo-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 136px 0 0;

    &.inverted{
        .promo-section-info {
            padding: 0 84px 0 0;
            -ms-flex-order: 2;
            order: 2;
        }

        .promo-section-image {
            margin: 0 0 0 -32px;
        }
    }

    .promo-section-info {
        width: 564px;
        padding-left: 84px;

        .button{
            margin-top: 10px;
        }
    }

    .promo-section-pretitle {
        color: #adafca;
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .promo-section-title {
        margin-top: 16px;
        font-size: 2.875rem;
        font-weight: 700;
        line-height: .9565217391em
    }

    .promo-section-text {
        margin-top: 40px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5555555556em;
        text-align: justify;
    }

    .promo-section-text+.promo-section-text {
        margin-top: 30px
    }

    .promo-section-image {
        margin: 0 -32px 0 0
    }
}







@media screen and (max-width:$large) {
    .promo-section {
        display: block;

        &.inverted{
            .promo-section-info {
                padding: 0
            }

            .promo-section-image {
                margin: 0 auto
            }
        }

        .promo-section-info {
            width: 80%;
            margin: 0 auto 30px;
            padding: 0;
            text-align: center
        }
        .promo-section-image {
            display: block;
            margin: 0 auto
        }
    }
}

@media screen and (max-width: $small) {
    .section{
        .section-info {
            width: 90%
        }
        .section-title {
            font-size: 2.5rem
        }
    }

    .promo-section{
        .promo-section-info {
            width: 90%
        }
        .promo-section-title {
            font-size: 2.5rem
        }
        .promo-section-image {
            width: 100%;
            height: auto
        }
    }
}
