.borderbtn{
    padding:10px 15px;
    background-color: transparent;
    border: 1px solid #3BB0BF;
    color: #3398A6;
    cursor: pointer;

    transition: all 0.15s;

    &:hover{
        background-color: rgba(59, 176, 191, 0.06);
        color: #37a4b3;
    }

    .px-1{
        padding-left: 10px;
        padding-right: 10px;
    }

    .px-2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .px-3{
        padding-left: 30px;
        padding-right: 30px;
    }

    &.no-w100{
        width: auto;
    }

    &.warning{
        border: 1px solid #bf4f3b;
        color: #f35e27;

        &:hover{
            background-color: rgba(191, 70, 59, 0.06);
            color: #d95323;
        }
    }
}
