/*------------------------------------------------------------------
[Table of contents]

1. .chart-wrap
2. .chart
-------------------------------------------------------------------*/
/*----------------------
    1. CHART WRAP
----------------------*/
.chart-wrap {
    width: 100%;
    height: 360px;

    &.small {
        height: 210px;
    }
}

/*---------------
    2. CHART
---------------*/
.chart {
    width: 100%;
    height: 100%;
    position: relative;
}
