@import '../theme/screens';
@import '../theme/color';
@import '../theme/color-theme';
@import '../theme/color-theme-custom';
@import '../theme/font';

@import "../vendors/tiny-slider-rtl";
@import "../vendors/simplebar-rtl";

//@import "./article-category/page-element";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.category-header{
    .category-header-info{
        padding-bottom: 0!important;
        .category-title{
            font-family: $font-bold;
            letter-spacing: -1px;
            padding: 35px;
            font-size: $fs-46;
            line-height: 60px;
            @media screen and (max-width: $xsmall) {
                font-size: $fs-36;
            }
        }

    }
}

.content-grid {
    .category-description,.post-open-paragraph {
        margin-top: 10px;
        font-size: $fs-16;
        font-weight: $weight-medium;
        line-height: (32 / 16) * 1.25em;
        color: $color-text-2;
        text-indent: 15px;
    }
}


.post-preview {
    figure,img{
        cursor: pointer;
    }
}

.category-post{
    height: 140px!important;
}

