@import '../theme/screens';
@import '../theme/color';
@import '../theme/color-theme';
@import '../theme/color-theme-custom';
@import '../theme/font';

.post-open-title{
    margin-top: 55px;
    margin-bottom: 20px;
}

.post-open-paragraph{
    margin-top: 10px;
    font-size: $fs-18;
    font-weight: $weight-medium;
    line-height: (32 / 16) * 1.25em;
    color:$color-text-2;

    &:not(.no-point,.star-point):before{
        margin-top: -3px;
        content: url(../../img/terms/check01-32.png);
        max-height: 20px;
        display: inline-block;
        vertical-align: text-top;

    }
    &.star-point:before{
        content: url(../../img/terms/star.png);
        max-height: 20px;
        display: inline-block;
        vertical-align: text-top;
    }

    .highlighted{
        font-weight: bold;
        color: #bac6e6;
        text-decoration: underline;
    }
}

.account-hub-sidebar{
    position: sticky;
    top: 17px;
}
