.action-buttons{
    .btn {
        position: relative;
        display: inline-block;
        padding: 15px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: 2px solid $white-darker;
        vertical-align: middle;
        color: $white-darker;
        border-radius: 9px;
        width: 57px;
        height: 57px;
        padding-right: 12px;
        margin-top: 20px;
        font-family: $font-third;

        &.wide{
            width: auto;
        }


        &.dynamic-width{
            width: auto;

            &:hover {
                .btn-text {
                    max-width: 80px;
                    color: $white-darker;
                }
            }
        }

        .btn-icon {
            margin-right: 4px;
        }

        .btn-text {
            &.dynamic-width {
                max-width: 0;
            }
            display: inline-block;
            -webkit-transition: max-width 0.5s;
            transition: max-width 0.5s;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            color: $white-darker;
        }

        &.save-action{
            background-color: #ff5e00;
            @media screen and (max-width: $small) {
                display: none !important;
            }
        }
    }
}
