#action-buttons{
    position: absolute;
    display: none;
    min-height: 40px;
    vertical-align: middle;
    background-color: rgba(#666,0.3);
    border-radius: 5px;
    border: 1px solid #666;
    z-index: 999;
    margin-top: 5px;

    transition: top 0.3s;
    left: 50%;
    transform: translateX(-50%);

    .btn {
        display: inline-block;
        cursor: pointer;
        color: $white-darker;
        width: 40px;
        height: 35px;
        text-align: center;

        padding: 6px;
        margin: 1px 3px;
        border:1px solid transparent;
        border-radius: 5px;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }

        &.wide{
            width: auto;
        }


        &.dynamic-width{
            width: auto;

            &:hover {
                .btn-text {
                    max-width: 80px;
                    color: $white-darker;
                }
            }
        }

        .btn-text {
            &.dynamic-width {
                max-width: 0;
            }
            display: inline-block;
            -webkit-transition: max-width 0.5s;
            transition: max-width 0.5s;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            color: $white-darker;
        }

        &.save-action,&.item-save-action{
            background-color: #ff5e00;
            @media screen and (max-width: $small) {
                display: none !important;
            }
        }
    }
}


@media screen and (max-width: $small) {
    .mobile-action-btn{
        position: fixed;
        top: 5px;
        left: 5px;

        display: inline-block;

        line-height: 30px;
        height: 100px;
        width: 100px;

        padding: 15px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: 2px solid $white-darker;
        vertical-align: middle;
        color: $white-darker;
        border-radius: 50%;
        text-align: center;
        box-shadow: 5px 4px 11px #030;
        font-family: $font-third;

        &.save-action{
            background-color: $color-blue-dark;
        }

        span{
            display: block;
        }
    }
}
