.heading-action-buttons, .item-heading-action-buttons{
    position: relative;
    margin-right: 25px;
    margin-top: 25px;
    float:right;
    padding: 2px 10px;

    min-width: 45px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    z-index: 999;

    .btn{
        cursor: pointer;
        background-color: rgba(#143771, 0.7);
        color:#bbb;
        padding: 6px;
        margin: 5px;
        border:1px solid transparent;
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#143771, 0.4);
        }

        &.save-action,&.item-save-action{
            color:#fff;
            background-color: #ff5e00;

            &:hover{
                border:1px solid rgba(#fff, 0.1);
                background-color:rgba(#ff5e00, 0.4);
            }
        }
    }
}
