@import '~select2';

#hover-action-buttons{
    position: absolute;
    display: none;
    padding: 0px 2px;

    min-width: 45px;
    vertical-align: middle;
    background-color: rgba(#AAB8C2,0.3);
    text-align: center;
    border-radius: 5px;
    z-index: 999;

    .btn{
        cursor: pointer;
        color:#bbb;
        padding: 6px;
        margin: 5px;
        border:1px solid transparent;
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }
    }
}



.hover-action-forms{
    position: absolute;
    padding: 10px 25px;
    display: none;
    min-width: 560px;

    background-color: rgba(#AAB8C2,0.8);
    border-radius: 5px;
    z-index: 1000;
    color: #eee;
    line-height: 25px;

    left: 50%;
    transform: translateX(-50%);

    select,input,btn{
        padding: 10px 5px;
        margin: 10px auto;
    }

    .btn{
        cursor: pointer;
        color:#bbb;
        border:1px solid transparent;
        background-color:rgba(#aaa, 0.3);
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }
    }

    .nav-buttons button{
        width: 32%;
        padding: 5px 10px;
        cursor: pointer;
    }

    .row.submit{
        border-top: 1px solid #fff;
        margin-top: 10px;
        padding-top: 10px;
    }

    .btn-submit{
        display: inline-block;
        max-width: 80%;
        float: left;
    }

    .btn-cancel{
        cursor: pointer;

        &:hover{
            color:rgba(#eee,0.7);
        }
    }

    .internal,.external{
        display: none;
    }
}
