#inline-action-buttons{
    position: relative;
    margin-left: -50px;
    margin-top: 10px;
    float:left;

    display: none;
    width: 45px;
    vertical-align: middle;
    background-color: #143771;
    text-align: center;
    border-radius: 5px;
    z-index: 999;

    .btn{
        cursor: pointer;
        color:#bbb;
        padding: 6px;
        margin: 5px;
        border:1px solid transparent;
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }
    }
}
