.seo-meta-forms{
    position: fixed;
    padding: 10px 25px;
    display: none;
    min-width: 640px;

    background-color: rgba(#AAB8C2,0.8);
    border-radius: 5px;
    z-index: 1000;
    color: #eee;
    line-height: 25px;

    left: 50%;
    transform: translateX(-50%);

    select,input,btn{
        padding: 10px 5px;
        margin: 10px auto;
    }

    .btn{
        cursor: pointer;
        color:#bbb;
        border:1px solid transparent;
        background-color:rgba(#aaa, 0.3);
        border-radius: 5px;
        transition: all 0.1s 0s ease-in;

        &:hover{
            border:1px solid rgba(#fff, 0.1);
            background-color:rgba(#aaa, 0.1);
        }
    }

    .nav-buttons button{
        width: 32%;
        padding: 5px 10px;
        cursor: pointer;
    }

    .row.submit{
        border-top: 1px solid #fff;
        margin-top: 10px;
        padding-top: 10px;
    }

    .btn-submit{
        display: inline-block;
        max-width: 80%;
        float: left;
    }

    .btn-cancel{
        cursor: pointer;

        &:hover{
            color:rgba(#eee,0.7);
        }
    }

    .facebook,.twitter{
        display: none;
    }

    .nav-buttons .selected{
        color: #00d902;
        background-color: #4D4D4D;
    }
    .nav-buttons button:hover{
        background-color: #4D4D4D;
    }
}
