.btn {
    position: relative;
    display: inline-block;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 2px solid $white-darker;
    vertical-align: middle;
    color: $white-darker;
    border-radius: 50px;
    margin-top: 20px;
    font-family: $font-third;

    .btn-icon {
        margin-left: 4px;
    }

    .btn-text {
        max-width: 0;
        display: inline-block;
        -webkit-transition: max-width 0.5s;
        transition: max-width 0.5s;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        color: $white-darker;
    }

    &:hover {
        .btn-text {
            max-width: 80px;
            color: $white-darker;
        }
    }
}


