$circle-size: 120px;
$circle-background: #d6dadc;
$circle-color: #97a71d;
$transition-length: 1s;



.radial-progress {
    width:  $circle-size;
    height: $circle-size;

    background-color: $circle-background;
    border-radius: 50%;
    .circle {
        .mask, .fill {
            width:    $circle-size;
            height:   $circle-size;
            position: absolute;

            border-radius: 50%;

            transition: -webkit-transform $transition-length;
            transition: -ms-transform $transition-length;
            transition: transform $transition-length;
            -webkit-backface-visibility: hidden;
        }
        .mask {
            clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
            .fill {
                clip: rect(0px, $circle-size/2, $circle-size, 0px);
                background-color: $circle-color;
            }
        }
    }
}
