/*------------------------------------------------------------------
[Table of contents]

1. GENERAL
-------------------------------------------------------------------*/
/*-----------------
    1. GENERAL
-----------------*/
:root {
    color-scheme: dark;//light dark
}

* {
    &::selection {
        color: $white;
        background-color: $color-text-selection;
    }
}

body {
    font-size: 16px;
    background-color: $color-body;
    overflow-x: hidden;
    direction: rtl;
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6, a, ul, ol {
    color: $color-text;
}

a, ul, ol {
    font-family: $font-normal;
    line-height: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $weight-bold;
    font-family: $font-bold;
    letter-spacing: -1px;
    line-height: 1.6rem;
}

p {
    color: $color-text;
    font-family: $font-normal;
    line-height: 1.7em;

    a {
        color: $color-text-link;
        font-weight: $weight-semibold;
    }

    .reaction {
        width: 20px;
        height: 20px;
        margin: 0 2px;
        position: relative;
        top: -2px;

        &:first-child {
            margin-right: 0;
        }
    }
}

a {
    &:hover {
        color: $color-text-link;
        text-decoration: none;
    }
}

figure {
    & > img {
        width: 100%;
        height: 100%;
    }
}

/*--------------------
    MEDIA QUERIES
--------------------*/
@media screen and (max-width: $xsmall) {
    .hide-text-mobile {
        display: none;
    }
}
