$xlarge: '1500px';

$large_u: '1236px';
$large: '1235px';

$medium: '960px';

$small: '680px';

$xsmall: '480px';
$xsmall_d: '479px';


@mixin ScreenMediaMax($size){
    @media (max-width: $size) {
        @content;
    }
}

@mixin ScreenMediaMin($size){
    @media (min-width: $size) {
        @content;
    }
}

/*
@media screen and (max-width: $xlarge) {}
@media screen and (max-width: $large) {}
@media screen and (max-width: $medium) {}
@media screen and (max-width: $small) {}
@media screen and (max-width: $xsmall) {}
*/
