@import '../theme/screens';
@import '../theme/color';
@import '../theme/color-theme';
@import '../theme/color-theme-custom';
@import '../theme/font';

@import "./articles-single/page-element";
@import "./articles-single/action-buttons";
@import "./articles-single/inline-action-buttons";
@import "./articles-single/heading-action-buttons";
@import "./articles-single/hover-action-buttons";
@import "./articles-single/seo-meta-form";
//@import '~articles-single/croppie.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.semi-hide a{
    opacity: 0.1;
    transition: all .1s ease-in-out;
}

.semi-hide a:hover{
    opacity: 1;
}

