@import '../theme/font';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.avatar_container{

}

.has-error{
    background-color: #ff3a004d;
}

.error-box{
    display: none;
    color: #f99;
    font-family: $font-primary;
    font-size: $fs-10;

    i{
        color:#bbbbbba8;
        cursor: pointer;
        font-style: normal;

        &:hover{
            color:#bbbbbb;
        }
    }
}
