/*------------------------------------------------------------------
[Table of contents]

1. .event-preview-list
2. .event-preview
-------------------------------------------------------------------*/
/*----------------------------
    1. EVENT PREVIEW LIST
----------------------------*/
.event-preview-list {
    .event-preview {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/*------------------------
    2. EVENT PREVIEW
------------------------*/
.event-preview {
    position: relative;
    border-radius: 12px;
    background-color: $color-box-background;
    box-shadow: $shadow-light;

    &.small {
        box-shadow: none;

        .event-preview-cover {
            height: 80px;
            border-radius: 12px;
        }

        .event-preview-info {
            display: block;
            height: auto;
            padding: 20px 42px 0 0;

            .date-sticker {
                width: 30px;
                top: 22px;
                right: 0;

                .date-sticker-day {
                    padding: 6px 0 2px;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                    font-size: $fs-16;
                }

                .date-sticker-month {
                    padding: 2px 0;
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    font-size: $fs-10;
                }
            }
        }

        .event-preview-title {
            font-size: $fs-14;
        }

        .event-preview-text {
            margin-top: 12px;
            font-size: $fs-12;
            line-height: (14 / 12) * 1em;
        }

        .event-preview-timestamp {
            margin-top: 6px;
            color: $color-text-alt;
            font-size: $fs-12;
        }
    }

    .event-preview-cover {
        width: 100%;
        height: 98px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .event-preview-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 385px;
        padding: 40px 28px 32px;
        position: relative;

        .date-sticker {
            position: absolute;
            top: -42px;
            right: 28px;
        }
    }

    .event-preview-title {
        font-size: $fs-16;
        font-weight: $weight-bold;
        cursor: pointer;
    }

    .event-preview-timestamp {
        margin-top: 10px;
        font-size: $fs-14;
        font-weight: $weight-medium;

        .bold {
            font-weight: $weight-bold;
        }
    }

    .event-preview-text {
        margin-top: 20px;
        color: $color-text-2;
        font-size: $fs-14;
        font-weight: $weight-medium;
        line-height: (20 / 14) * 1em;
    }

    .meta-line {
        margin-top: 26px;
    }

    .button {
        width: 100%;
        margin-top: 38px;
    }
}
