/*
@media screen and (max-width: 1500px) {}
@media screen and (max-width: 1365px) {}
@media screen and (max-width: 960px) {}
@media screen and (max-width: 680px) {}
@media screen and (max-width: 480px) {}
*/

.banner-wrap {
    background: url(../../../img/homepage/banner-bg.jpg) no-repeat 50%;
    background-size: cover;

    @media screen and (min-width: 1365px) {
        background: url(../../../img/homepage/banner-people.png) no-repeat 0 100%,
        url(../../../img/homepage/banner-rocket.png) no-repeat left 635px top 260px,
        //url(../../../img/homepage/banner-screens.png) no-repeat left -25px bottom,
        url(../../../img/homepage/banner-bg.jpg) no-repeat 50%;
        background-size: auto, auto, auto, cover
    }
}


.banner {
    min-height: 960px;

    .banner-info {
        padding: 216px 100px 0 0;
        position: relative;

        .banner-image {
            position: absolute;
            top: 110px;
            right: -150px;
        }
    }

    .banner-text{
        color: #fff
    }

    .banner-pretitle{
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500
    }

    .banner-title {
        margin-top: 10px;
        color: #fff;
        font-family: ISan, tahoma, sans-serif;
        font-size: 6.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .banner-text {
        width: 384px;
        margin-top: 36px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.3333333333em
    }

    .button {
        width: 196px;
        margin-top: 50px;

        @media screen and (min-width: 1365px) {
            margin-right: 90px;
        }
    }
}






@media screen and (max-width: 1365px) {
    .banner-wrap {
        background: url(../../../img/homepage/banner-bg.jpg) no-repeat 50%;
        background-size: cover
    }

    .banner {
        min-height: auto;

        .banner-info {
            width: 480px;
            margin: 0 auto;
            padding: 180px 0 120px;
            text-align: center;

            .banner-image {
                top: 70px;
                left: 34px;
            }
        }

        .banner-text {
            margin: 36px auto 0
        }
    }
}

@media screen and (max-width: 680px) {
    .banner {
        .banner-info {
            width: 100%;
            padding-top: 220px;

            .banner-image {
                left: 50%;
                margin-left: -78px
            }
        }

        .banner-title {
            font-size: 3.75rem
        }

        .banner-text {
            width: 100%
        }
    }
}
