
.button {
    display: inline-block;
    height: 54px;
    border-radius: 12px;
    background-color: #3e3f5e;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 5px 10px 0 rgba(62, 63, 94, .2);
    transition: background-color .2s ease-in-out
}

.button:hover {
    background-color: #23d2e2
}

.button.small {
    height: 40px;
    font-size: .875rem;
    line-height: 40px
}

.button.tiny {
    height: 32px;
    font-size: .875rem;
    line-height: 32px;
    border-radius: 8px
}

.button.primary {
    background-color: #23d2e2;
    box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, .2)
}

.button.primary:hover {
    background-color: #1bc5d4
}

.button.secondary {
    background-color: #7750f8;
    box-shadow: 4px 7px 12px 0 rgba(119, 80, 248, .2)
}

.button.secondary:hover {
    background-color: #603fd0
}

.button.tertiary {
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, .2)
}

.button.tertiary:hover {
    background-color: #5753e4
}
