a, h1, h2, h3, h4, h5, h6, p {
    line-height: 1em
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700
}

ol, ul {
    list-style: none;
    padding: 0!important;
}

a {
    text-decoration: none
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
