.grid-limit {
    width: 95%;
    max-width: 1184px;
    margin: 0 auto
}

.grid {
    display: grid;
    grid-gap: 56px 16px;
    -ms-flex-pack: center;
    justify-content: center
}

.grid-3 {
    grid-template-columns: repeat(auto-fit, 284px)
}

.grid-4 {
    grid-template-columns: repeat(auto-fit, 384px)
}

@media screen and (max-width: 479px) {
    .grid-4 {
        grid-template-columns: 100%
    }
}
