.logo {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    background-color: #615dfa
}

.logo .logo-icon {
    width: 18px;
    height: 27px
}

.logo.void {
    width: auto;
    height: auto;
    background-color: transparent
}

.logo.void .logo-icon {
    width: 28px;
    height: 40px
}
