.navigation-wrap {
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 9999;

    &.sticky {
        position: fixed;
        background-color: #fff;
        box-shadow: 0 0 80px 0 rgba(94, 92, 154, .1);
        animation: slide-down .3s ease-in-out forwards;

        .logo {
            width: 40px;
            height: 40px;
            background-color: #615dfa;

            .logo-icon {
                width: 18px;
                height: 27px;
            }
        }

        .menu .menu-item-link {
            color: #3e3f5e;
        }
    }
}

.navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;

    .button {
        width: 120px;
    }
}

.menu {
    display: flex;

    background: rgba(#fff,0.05);
    border-radius: 60px;

    .menu-item-link {
        display: block;
        padding: 0 26px;
        color: #fff;
        font-size: .875rem;
        font-weight: 700;
        line-height: 80px;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: translateY(-4px)
        }
    }}



@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}

@media screen and (max-width:960px) {
    .navigation {
        padding: 0 20px;

        .menu {
            display: none
        }
    }
}
