.section {
    padding: 136px 0 74px
}

.section .section-info {
    width: 584px;
    margin: 0 auto 136px;
    text-align: center
}

.section .section-pretitle {
    color: #adafca;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase
}

.section .section-title {
    margin-top: 16px;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: .9565217391em
}

.section .section-text {
    margin-top: 40px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5555555556em
}

.section .section-image {
    width: 100%;
    height: auto
}

.section .section-button {
    display: block;
    width: 276px;
    margin: 60px auto 0
}

.promo-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 136px 0 74px
}

.promo-section.inverted .promo-section-info {
    padding: 0 84px 0 0;
    -ms-flex-order: 2;
    order: 2
}

.promo-section.inverted .promo-section-image {
    margin: 0 0 0 -32px
}

.promo-section .promo-section-info {
    width: 564px;
    padding-left: 84px
}

.promo-section .promo-section-pretitle {
    color: #adafca;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase
}

.promo-section .promo-section-title {
    margin-top: 16px;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: .9565217391em
}

.promo-section .promo-section-text {
    margin-top: 40px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5555555556em
}

.promo-section .promo-section-text+.promo-section-text {
    margin-top: 30px
}

.promo-section .promo-section-image {
    margin: 0 -32px 0 0
}

@media screen and (max-width:1365px) {
    .promo-section {
        display: block
    }
    .promo-section.inverted .promo-section-info {
        padding: 0
    }
    .promo-section.inverted .promo-section-image {
        margin: 0 auto
    }
    .promo-section .promo-section-info {
        width: 80%;
        margin: 0 auto 30px;
        padding: 0;
        text-align: center
    }
    .promo-section .promo-section-image {
        display: block;
        margin: 0 auto
    }
}

@media screen and (max-width:680px) {
    .section .section-info {
        width: 90%
    }
    .section .section-title {
        font-size: 2.5rem
    }
    .promo-section .promo-section-info {
        width: 90%
    }
    .promo-section .promo-section-title {
        font-size: 2.5rem
    }
    .promo-section .promo-section-image {
        width: 100%;
        height: auto
    }
}
