/*------------------------------------------------------------------
[Table of contents]

1. .post-open
-------------------------------------------------------------------*/
/*--------------------
    1. POST OPEN
--------------------*/
.post-open {
    h1{
        line-height: 1.65em;
        margin-bottom: 25px;
    }

    h2, h3, h4, h5, h6 {
        line-height: 1.65em;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ol {
        list-style-type:persian;
    }

    .post-open-cover {
        width: 100%;
        height: 450px;
    }

    .post-open-body {
        width: 85%;//normal was 65%, maybe needs for sidebars
        //max-width: 784px; //this was limiting the content
        margin: -80px auto 0;
        padding-top: 90px;
        border-radius: 12px;
        background-color: $color-box-background;
        box-shadow: $shadow-light;


        .post-open-heading {
            padding: 0 100px;
            position: relative;

            .post-open-breadcrumb {
                position: absolute;
                top: -70px;
                color: $color-text-alt-2;
                font-size: $fs-16;
                font-weight: $weight-regular;

                .highlighted {
                    margin-left: 12px;
                    color: $color-text;
                }

                &ul{
                    li:before {
                        content: "\0BB \020";
                    }
                }
            }

            .post-open-timestamp {
                color: $color-text-alt-2;
                font-size: $fs-16;
                font-weight: $weight-regular;

                .highlighted {
                    margin-left: 12px;
                    color: $color-text;
                }
            }

            .post-open-title {
                margin-top: 22px;
                font-size: $fs-46;
                font-weight: $weight-bold;
                line-height: 1.4em;
            }
        }

        .post-open-content {
            display: flex;
            margin-top: 70px;
            /*TODO: remove this if bottom items activated*/
            margin-bottom: 70px;
            padding: 0 100px;

            .post-open-content-sidebar {
                width: 84px;
                flex-shrink: 0;

                .post-open-sidebar-title {
                    width: 40px;
                    margin-top: 24px;
                    font-size: $fs-12;
                    line-height: 18px;
                    font-weight: $weight-bold;
                    text-transform: uppercase;
                    text-align: center;
                }

                .social-links {
                    margin-top: 26px;
                }
            }

            .post-open-content-body {
                //width: 500px; //this was limiting inside article
                padding-bottom: 80px;
                width:100%;

                b,strong{
                    color:$color-text-2-big;
                }

                .post-open-paragraph {
                    margin-top: 10px;
                    font-size: $fs-18;
                    font-weight: $weight-medium;
                    line-height: (32 / 16) * 1.25em;
                    color:$color-text-2;
                    text-indent: 15px;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                .post-open-image {
                    max-width: 100%;
                    //height: 320px;
                    margin-bottom: 50px;
                }

                .post-open-image-caption {
                    margin-top: -40px;
                    margin-bottom: 20px;
                    color: $color-text-alt;
                    @include paragraph();
                    text-align: center;
                }

                .tag-list {
                    margin-top: 60px;
                }
            }
        }

        & > .content-actions {
            margin: 0 28px;
            border-top: 1px solid $color-divider;
        }

        .post-options {
            padding: 0 100px;
        }
    }
}

/*--------------------
    MEDIA QUERIES
--------------------*/
@media screen and (max-width: $large_u) {
    .post-open {
        .post-open-body {
            width: 95%;
            max-width: 100%;

            .post-open-content {
                /*//TODO:enable these if sidebar enabled
                //.post-open-content-sidebar {
                //  width: 15%;
                //}*/

                .post-open-content-body {
                    /*//TODO:enable this if sidebar enabled
                    //width: 85%;*/
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .post-open {
        .post-open-body {
            .post-open-heading {
                padding: 0 40px;
            }

            .post-open-content {
                padding: 0 40px;
                margin-top: 40px;
                flex-direction: column;

                .post-open-content-sidebar,
                .post-open-content-body {
                    width: 100%;
                }

                .post-open-content-sidebar {
                    margin-bottom: 60px;
                    display: flex;
                    align-items: center;

                    .post-open-sidebar-title {
                        width: auto;
                        margin: 0 35px 0 0;
                        line-height: 20px;
                        text-align: right;
                    }

                    .social-links {
                        margin: 0 12px 0 0;

                        &.vertical {
                            flex-direction: row;

                            .social-link {
                                margin: 0 0 8px 8px;
                            }
                        }
                    }
                }
            }

            .post-options {
                padding: 0 28px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .post-open {
        .post-open-cover {
            height: 320px;
        }

        .post-open-body {
            margin-top: -35px;
            padding-top: 60px;

            .post-open-heading,
            .post-open-content {
                padding: 0 28px;
            }

            .post-open-heading {
                .post-open-title {
                    font-size: $fs-36;
                }
            }
        }
    }
}
