
// ISan
@font-face {
    font-family: 'ISanFaNum';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanBlack
@font-face {
    font-family: 'ISanFaNumBlack';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum_Black.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum_Black.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum_Black.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanBold
@font-face {
    font-family: 'ISanFaNumBold';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum_Bold.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum_Bold.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum_Bold.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanLight
@font-face {
    font-family: 'ISanFaNumLight';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum_Light.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum_Light.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum_Light.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanUltraLight
@font-face {
    font-family: 'ISanFaNumUltraLight';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum_UltraLight.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum_UltraLight.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum_UltraLight.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanMedium
@font-face {
    font-family: 'ISanFaNumMedium';
    src: url('./ISansFaNum/eot/ISansWeb_FaNum_Medium.eot') format('eot'), /* IE6.8 */
    url('./ISansFaNum/woff/ISansWeb_FaNum_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansFaNum/woff2/ISansWeb_FaNum_Medium.woff2') format('woff2'),
    url('./ISansFaNum/ttf/ISansWeb_FaNum_Medium.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}
