// ISanX Regular
@font-face {
    font-family: 'ISanX';
    src:
    url('./ISansXNoEn/woff/ISansX_NoEn_Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansXNoEn/woff2/ISansX_NoEn_Regular.woff2') format('woff2'),
    url('./ISansXNoEn/ttf/ISansX_NoEn_Regular.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanX Bold
@font-face {
    font-family: 'ISanXNoEn';
    src:
    url('./ISansXNoEn/woff/ISansX_NoEn_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansXNoEn/woff2/ISansX_NoEn_Bold.woff2') format('woff2'),
    url('./ISansXNoEn/ttf/ISansX_NoEn_Bold.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

