// ISanX Regular
@font-face {
    font-family: 'ISanX';
    src: url('./ISansXFaNum/otf/ISansX_FaNum_Regular.otf') format('otf'),
    url('./ISansXFaNum/woff/ISansX_FaNum_Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansXFaNum/woff2/ISansX_FaNum_Regular.woff2') format('woff2'),
    url('./ISansXFaNum/ttf/ISansX_FaNum_Regular.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanX Bold
@font-face {
    font-family: 'ISanXBold';
    src: url('./ISansXFaNum/otf/ISansX_FaNum_Bold.otf') format('otf'),
    url('./ISansXFaNum/woff/ISansX_FaNum_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansXFaNum/woff2/ISansX_FaNum_Bold.woff2') format('woff2'),
    url('./ISansXFaNum/ttf/ISansX_FaNum_Bold.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

