// ISanX Regular
@font-face {
    font-family: 'ISanX';
    src: url('./ISansX/otf/ISansX_Regular.otf') format('otf'),
    url('./ISansX/woff/ISansX_Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansX/woff2/ISansX_Regular.woff2') format('woff2'),
    url('./ISansX/ttf/ISansX_Regular.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanX Bold
@font-face {
    font-family: 'ISanXBold';
    src: url('./ISansX/otf/ISansX_Bold.otf') format('otf'),
    url('./ISansX/woff/ISansX_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISansX/woff2/ISansX_Bold.woff2') format('woff2'),
    url('./ISansX/ttf/ISansX_Bold.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

