
// ISan
@font-face {
    font-family: 'ISan';
    src: url('./ISans/eot/ISansWeb.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanBlack
@font-face {
    font-family: 'ISanBlack';
    src: url('./ISans/eot/ISansWeb_Black.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb_Black.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb_Black.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanBold
@font-face {
    font-family: 'ISanBold';
    src: url('./ISans/eot/ISansWeb_Bold.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb_Bold.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb_Bold.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanLight
@font-face {
    font-family: 'ISanLight';
    src: url('./ISans/eot/ISansWeb_Light.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb_Light.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb_Light.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanUltraLight
@font-face {
    font-family: 'ISanUltraLight';
    src: url('./ISans/eot/ISansWeb_UltraLight.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb_UltraLight.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb_UltraLight.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}

// ISanMedium
@font-face {
    font-family: 'ISanMedium';
    src: url('./ISans/eot/ISansWeb_Medium.eot') format('eot'), /* IE6.8 */
    url('./ISans/woff/ISansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./ISans/woff2/ISansWeb_Medium.woff2') format('woff2'),
    url('./ISans/ttf/ISansWeb_Medium.ttf') format('truetype');  /* Saf3.5, Chrome4+, FF3.5, Opera 10+ */
}
